.sound-item {
  width: 100px;
  height: 100px;
  background-color: var(--stop-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
.sound-item.playing {
  background-color: var(--play-color)
}
.sound-item.waiting {
  background-color: var(--wait-color)
}
.sound-item:hover {
  filter: brightness(var(--brighten))
}
.sound-item:active {
  filter: brightness(var(--darken))
}

.play {
  height: 40px;
  border-width: 25px 0 25px 40px;
}

.play.paused {
  border-style: double;
  border-width: 0px 0 0px 40px;
}

.sound-item:hover {
  cursor: pointer;
}

.sound-item:hover .play {
    border-color: transparent transparent transparent var(--black-light-color);
  }


