.container {
  width: var(--container-width);
  margin: var(--container-margin);
  padding: 20px;
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  justify-items: center;
}